.header {
    @media (min-width: 768px) {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        padding: 0;
        margin: 0 auto;
    }
}

.title {
    color: var(--logo-color);
    text-decoration: none;
}

.navbarWrapper {
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.5rem;
        flex-grow: 1;
        margin-top: 0;
    }
}

.form {
    position: relative;
    flex-grow: 1;
    box-sizing: border-box;

    .searchIcon {
        pointer-events: none;
        position: absolute;
        display: flex;
        align-items: center;
        padding-left: 0.75rem;
        left: 0;
        bottom: 0;
        top: 0;

        svg {
            width: 1.25rem;
            height: 1.25rem;
            color: var(--border-color-dark-grey);
        }
    }

    .searchInput {
        width: 84%;
        display: block;
        padding: 0.25rem 2.5rem;
        margin: 0;

        outline: 2px solid transparent;
        outline-offset: 2px;

        font-size: .875rem;
        line-height: 1.25rem;

        background-color: #fff;
        border: 2px solid var(--border-color-grey);
        border-radius: 0.5rem;
    }

    .searchButton {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem;
        margin: 0;

        border: none;
        border-bottom-right-radius: 0.5rem;
        border-top-right-radius: 0.5rem;

        color: #fff;
        font-size: .75rem;
        line-height: 1rem;

        background-color: var(--logo-color);
        cursor: pointer;
        text-transform: none;
    }
}

.cartWrapper {
    text-decoration: none;
    color: #000;

    .cartIconWrapper {
        position: relative;

        .cartIcon {
            display: inline-block;
            position: relative;
        }

        .itemsCount {
            position: absolute;
            top: -0.7rem;
            right: -0.7rem;
            padding: 0.25rem 0.5rem;
            color: var(--background-color-white);
            background-color: var(--logo-color);
            font-size: 0.75rem;
            font-weight: 700;
            line-height: 1;
            border-radius: 100px;
        }
    }

    @media (min-width: 768px) {
        padding: 0 0.5rem;
        display: flex;
        gap: 0.25rem;
    }
}
