body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --logo-color: #9763f2;
    --border-color-grey: #e5e7eb;
    --border-color-dark-grey: #6b7280;
    --background-color-white: #ffffff;
    --background-color-black: #000000;
    --error-color: #f00f00;
}
